doctype html
html
  head
    title BSH Proactive Service
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/uikit/css/uikit.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/uikit/js/uikit.min.js')
  body
    block content
    div.badge Beta
