extends layout

block content
    h1.special BSH Proactive Service

    div.uk-margin-large

    div.uk-grid.uk-text-center
        div.uk-width-large-1-4.uk-container-center
            div.uk-panel.uk-panel-box
                h3.uk-panel-title SleepLogs
                if(message == "")
                    div
                else
                    div.uk-alert.uk-alert-danger #{message}
                form.uk-form#formLogin(method="post",action="/sendlogs")
                    div.uk-form-row
                        input.uk-form-width-medium#inputValue1(type="text", placeholder="date (2017-06-20)", name="date" required)
                    div.uk-form-row
                        input.uk-form-width-medium#inputValue2(type="text", placeholder="startTime (23:00)", name="startTime" required)
                    div.uk-form-row
                        input.uk-form-width-medium#inputValue3(type="text", placeholder="duration (28800000)", name="duration" required)
                    div.uk-form-row
                        button.uk-button.uk-button-primary#btnSubmit(type="submit") Send logs